:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
body{
    --hue: var(--hue-neutral)
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(5deg, rgba(2,0,36,1) 0%, rgba(39,151,204,1) 58%);
}
.timer {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.correct {
    --hue: var(--hue-correct)
}

body.wrong {
    --hue: var(--hue-wrong)
}

.container {
    width: 600px;
    height: 450px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid black;
    background-color: hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    padding: 15% 10px;
    color: white;
    outline: none;
}

.initialsbtn {
    --hue: var(--hue-neutral);
    border: 1px solid black;
    background-color: hsl(var(--hue), 100%, 30%);
    border-radius: 5px;
    width: 20%;
    padding: 10px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hue: var(--hue-correct);
    color:black;
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.hideTillEnd {
    display:none;
}

.scoreSheet {
    position: fixed; top: 10%; border: 0;
    width: 50%;
    height: 70%;
    max-width: 50%;
    background-color: red;
    color: black;
    text-align: center;
    border-radius: 5px;      
}

.initials {
    height: 20px;
    width: 90%;
    font-size: 20px;
    font: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initialsHeader {
    padding: 5px 10px;
    display: flex;
    font-size: 20px;
}

.highscores {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
}
.ScoresHeading{
justify-content: left;
}